/* BACKGROUND */
.background {
    background-image: url("img/Background.jpg");
    background-size: cover;
    height: 300vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

/* REMOVE SCROLLBAR */
body { overflow:hidden }

/* NAVIGATION BAR */
/* Container */
.container-fluid {
    position: fixed;
    width: 100%;
}
/* Right Align */
.navbar-right {
    text-align: right;
}

/* Hamburger Menu */
.navbar .navbar-toggle .icon-bar {
    background-color: gray;
}

/* Static Links */
a {
    text-decoration: none;
    color: gray;
    font-family: "Gill Sans";
}
/* Hovered Over Links */
/* Text */
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: black;
    background-color: transparent;
    font-weight: bolder;
}
/* Circle Animations*/
/* Animations for circles when hovering over navbar elements */
.container-fluid a:before, div.circleBehind a:after {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #54C6FF;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    /* takes 0.7 seconds for each circle to fade in */
    transition: all .7s;
    z-index: -1;
}

.container-fluid a:hover:before {
    opacity: 1;
    background: transparent;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.container-fluid a:hover:after {
    opacity: 1;
    background: transparent;
    transform: scale(1.3);
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideUp {
    0% { transform: translateY(100%); }
    50%{ transform: translateY(-8%); }
    65%{ transform: translateY(4%); }
    80%{ transform: translateY(-4%); }
    95%{ transform: translateY(2%); }
    100%{ transform: translateY(0%); }
}

@-webkit-keyframes slideUp {
    0% { -webkit-transform: translateY(100%); }
    50%{ -webkit-transform: translateY(-8%); }
    65%{ -webkit-transform: translateY(4%); }
    80%{ -webkit-transform: translateY(-4%); }
    95%{ -webkit-transform: translateY(2%); }
    100%{ -webkit-transform: translateY(0%); }
}
/* Active Links */
.navbar .navbar-nav> li > a:active, .navbar .navbar-nav > li > a:focus {
    color: black;
    background-color:transparent;
    font-weight: bolder;
}
.active {
    font-weight: bolder;
    color: black;
}

/* Top left ALEXISCHINA */
.name a {
    text-decoration: none;
}
.name {
    font-family: "Gill Sans";
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 55;
    position: fixed;
}

/* LOGO */
.logo {
    height: auto;
    position: fixed;
    vertical-align: middle;
    z-index: 50;
}

/* SCREENS UNDER 576px */
@media screen and (max-width: 576px) {
    /* Top left ALEXISCHINA */
    .name {
        font-size: 175%;
    }
    /* LOGO */
    .logo {
        width: 40%;
        margin-left: 32%;
        margin-right: 55%;
        padding-top: 65%;
    }
    .container-fluid {
        margin-top: -1%;
    }
}

/* SCREENS BETWEEN 576px AND 768px */
@media screen and (min-width: 576px) {
    /* Top left ALEXISCHINA */
    .name {
        font-size: 175%;
    }
    /* Styling of links in navbar */
    a {
        font-size: 175%;
    }
    /* LOGO */
    .logo {
        width: 40%;
        margin-left: 32%;
        margin-right: 55%;
        padding-top: 65%;
    }
    .container-fluid {
        margin-top: 1.8%;
    }
}

/* SCREENS BETWEEN 768px AND 992px */
@media screen and (min-width: 768px) {
    /* Styling of links in navbar */
    a {
        font-size: 175%;
    }
    /* Top Left ALEXISCHINA */
    .name {
        font-size: 220%;
    }
    /* LOGO */
    .logo {
        width: 37%;
        margin-left: 32%;
        margin-right: 55%;
        padding-top: 45%;
    }
    .container-fluid {
        margin-top: 1.8%;
    }
}

/* SCREENS BETWEEN 992px AND 1200px */
@media screen and (min-width: 768px) {
    /* Styling of links in navbar */
    a {
        font-size: 160%;
    }
    /* Top Left ALEXISCHINA */
    .name {
        font-size: 200%;
    }
    /* LOGO */
    .logo {
        width: 32%;
        margin-left: 35%;
        margin-right: 55%;
        padding-top: 25%;
    }
    .container-fluid {
        margin-top: 1.8%;
    }
}

/* SCREENS GREATER THAN 1200px */
@media screen and (min-width: 1200px) {
    /* Styling of links in navbar */
    a {
        font-size: 240%;
    }
    /* Top left ALEXISCHINA */
    .name {
        font-size: 180%;
        padding-left: 25px;
    }
    /* LOGO */
    .logo {
        width: 25%;
        margin-left: 37%;
        margin-right: 55%;
        padding-top: 22%;
    }
    .container-fluid {
        margin-top: 2.1%;
    }
}